{% extends "quotes/base.html" %}
{% block title %}
Author - {{ author.first_name }} {{ author.last_name }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="span11">
    <h1>
    {{ author.first_name }} {{ author.last_name }}
    </h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="span4">
    <h4>Short biography</h4>
    {{ author.short_bio }}
  </div>
  <div class="span3">
    <h4>Links</h4>
    <address>
    <ul>
    {% if author.amazon_url %}
    <li>
        <a href="{{ author.amazon_url }}">
        <i class="icon-shopping-cart"></i>
            Amazon author page
        </a>
    </li>
    {% endif %}
    {% if author.goodreads_url %}
    <li>
        <a href="{{ author.goodreads_url }}">
        <i class="icon-book"></i>
            Goodreads author page
        </a>
    </li>
    {% endif %}
    {% if author.wikipedia_url %}
    <li>
        <a href="{{ author.wikipedia_url }}">
        <i class="icon-book"></i>
            Wikipedia author page
        </a>
    </li>
    {% endif %}
    </ul>
    </address>
  </div>
  <div class="span4">
    <h4>Books we quote</h4>
    {% for book in books %}
    {% endfor %}
  </div>
</div>
{% endblock %}