{% extends "quotes/base.html" %}

{% load url_operations %}

{% block title %}
Author - {{ author.first_name }} {{ author.last_name }}
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <h1>
    {{ author.first_name }} {{ author.last_name }}
    </h1>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-5">
    <h4>Short biography</h4>
    {{ author.short_bio }}
      <div class="row">
        <div class="col-md-12">
            <h4>Links</h4>
            <address>
            <ul>
            {% if author.amazon_url %}
            <li>
                {% trackable_link author.id 'A' 'AMZN' 'Amazon author page' %}
            </li>
            {% endif %}
            {% if author.goodreads_url %}
            <li>
                {% trackable_link author.id 'A' 'GR' 'GoodReads author page' %}
            </li>
            {% endif %}
            {% if author.wikipedia_url %}
            <li>
                {% trackable_link author.id 'A' 'WIKI' 'Wikipedia author page' %}
            </li>
            {% endif %}
            </ul>
            </address>
        </div>
      </div>
  </div>
  <div class="col-md-7">
    <h4>Books we quote</h4>
    {% if books %}
    <ul>
    {% for book in books %}
        <li><a href="/book/{{ book.id }}">{{ book.title }}</a></li>
    {% endfor %}
    </ul>
    {% else %}
        <p class="text-warning">
            There seems to be no books associated with
            {{ author.first_name }} in our databases.
        </p>
    {% endif %}
  </div>
</div>
{% endblock %}