{% extends "quotes/base.html" %}

{% load url_operations %}

{% block title %}
Quote
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <p class="quotes">
        {{ quote.quote_text|linebreaksbr }}
    </p>
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <p class="quote-details">
        From the book <a href="/q/book/{{ quote.book.url_id }}">{{ quote.book.title }}</a>
        by
        {% for author in quote.book.author_set.all %}
        {% if iterator.next > 1 %},{% endif %}
        <a href="/q/author/{{ author.url_id }}">{{ author.first_name}}
            {{ author.last_name}}</a>
        {% endfor %}
    </p>
  </div>
  <div class="col-md-6">
    <p class="quote-details text-right">
        <a href="/q/quote/{{ quote.id }}">Permalink</a>
    </p>
  </div>
</div>

{% endblock %}