{% extends 'quotes/base.html' %}

{% load highlight %}

{% block content %}
    <h1>Search results</h1>

    {% if query %}
        <h3>Results</h3>

        {% for result in page.object_list %}
            <p>Found in {{ result.object_type }}
                {% if result.object_type == 'quote' %}
                from the book
                <a href="{{ result.book.object.get_absolute_url }}">{{ result.book.title }}</a>:
                {% elif result.object_type == 'book' %}
                <a href="{{ result.object.get_absolute_url }}">{{ result.title }}</a>
                {% else %}
                <a href="{{ result.object.get_absolute_url }}">{{ result.first_name }}
                    {{ result.last_name }}</a>
                {% endif %}
                <br />
                <a href="{{ result.object.get_absolute_url }}">
                    {% highlight result.text with query %}
                </a>
            </p>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
